# Python
__pycache__/
*.pyc

# Databases
mlflow.db
*.db

# Virtual environments
as-env/
venv/
.env

# Data & logs
data/processed/
data/*.jsonl
data/**/*.jsonl
honeylog/
logs/

# MLflow / artifacts
mlruns/

# OS
.DS_Store