# Python
__pycache__/
*.pyc


mlflow.db //modifed
*.db
__pycache__/
*.pyc

# Virtual environments
as-env/
venv/
.env

# Data & logs
# Data & logs
data/processed/
data/*.jsonl
honeylog/
logs/

# MLflow / artifacts
mlruns/

# OS
.DS_Store
